[submodule "reworked-libft"]
	path = include/reworked-libft
	url = git@github.com:meltremb/reworked-libft.git
[submodule "readline"]
	path = include/readline
	url = git://git.savannah.gnu.org/readline.git
